.container{
  width: 450px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #f7ebeb ;
  box-shadow: 0 0 5px gray;
  padding: 5px 35px 15px;
}
.header{
  text-align: center;
}
.inc-exp-container{
  display: flex;
  justify-content: space-around;
  background-color: #ffff;
  box-shadow: 0 0 5px gray;
}
.form-control input {
  width: 97%;
  padding: 8px;
  margin: 10px 0;
}
.form-control{
  padding:5px;
}
.btn{
  width: 99%;
  padding: 10px;
  margin-left: 5px;
  font-size: 20px ;
  background-color: lightgray;
  color: white;
  font-weight: 800;


}
.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}

.list li {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 5px 0;
}
.list li:hover .delete-btn {
  opacity: 1;
}